 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

section {
    width: 100%;
    padding: 8rem 0;
}

.container {
    width: 100%;
    max-width: 110rem;
    margin: 0 auto;
    padding: 0 2rem;
}




header {
    width: 100%;
   background-color: black;
    padding: 5px 0;
}

nav {
    width: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 1.5rem;
    
}
nav .logo {
    width: 15rem;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
}

.nav-ul li a {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 0;
    margin-left: 3rem;
    color: white;
}

.nav-link,
.current {
    position: relative;
}

.nav-link::before,
.current::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -3px;
    width: 50%;
    height: 2px;
    background-color: orangered;
    transform: scaleX(0);
    transform-origin: left;
    transition: all .6s;
}

.current::before {
    transform: scaleX(1);
}

.nav-link:hover::before {
    transform: scaleX(1);
}

.hamburger,
.close,
.search {
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
}
.hamburger {
    display: none;
}

.search {
    font-size: 1.8rem;
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5rem 3rem 0 0;
    display: none;
}

 #intro {
     width: 100%;
     background-color: black;
     color: white;
     padding: 0;
 }
 #intro .container {
     background: url(../images/hero5.jpg) no-repeat;
     background-position-x: 70%;
     background-size: cover;
 }

 .line {
     position: relative;
     padding-top: 3rem;
 }

 .line::before {
     content: "";
     position: absolute;
     top: 5rem;
     left: 0;
     width: 5rem;
     height: 3px;
     background-color: orangered;
 }

 .intro-text {
     width: 80%;
     padding: 8rem 0;;
 }

 .intro-text h1 {
     font-size: 8rem;
     font-weight: 700;
     line-height: 1;
     margin-bottom: 5rem;
 }

 .btn {
     display: inline-block;
     padding: 1.5rem 3rem;
     font-size: 1.8rem;
     font-weight: 700;
     color: white;
     border: 2px solid orangered;
     cursor: pointer;
     position: relative;
     background-color: transparent;
     text-decoration: none;
     overflow: hidden;
     z-index: 1;
 }

 .btn::before {
     content: "";
     position: absolute;
     left: 0;
     top: 0;
     width: 99%;
     height: 100%;
     background-color: orangered;
     transform: translateX(-100%);
     transition: all 0.5s;
     z-index: -1;
 }

 .btn:hover::before {
     transform: translateX(0);
 }

 .intro-cards {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
     row-gap: 2rem;
     column-gap: 2rem;
     z-index: 1;
 }

 .cards {
     background-color: darkgray;
     padding: 6rem 3rem;
 }

 .cards i {
     font-size: 4rem;
     color: pink;
     padding-bottom: 3rem;
 }
 .heading-3 {
     font-size: 2.3rem;
     font-weight: 700;
 }

 .cards h3 {
     padding-bottom: 4rem;
 }

 .cards .line::before {
     top: 7rem;
 }

 .cards:nth-child(3) {
     position: relative;
     background-color: darkgrey;
 }

 .cards:nth-child(3)::before {
     position: absolute;
     content: "";
     left: 0;
     bottom: -1.5rem;
     width: 105%;
     height: 7rem;
     background-color: orangered;
     z-index: -1;
 }

 .cards:nth-child(3)::after {
    position: absolute;
    content: "";
    right: -5%;
    bottom: -1.5rem;
    width: 5%;
    height: 7rem;
    background-color: orangered;
}

.cards:hover, .cards:first-child {
    background-color: orangered;
    color: white;
}

.cards:hover i, .cards:first-child{
    color: white;
}

.cards:hover .line::before,
.cards:first-child .line::before {
    background-color: white;
}

.heading > * {
    padding-bottom: 2rem;
}
 
.heading h2 {
    font-size: 5rem;
    font-weight: 700;
    margin-top: 4rem;
}

.heading p {
    font-size: 1.8rem;
    font-weight: 700;
    color: orangered;
}

.services {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        row-gap: 4rem;
        column-gap: 2rem;
        margin-top: 2rem;
    }

    .service {
        background-color: gainsboro;
        padding: 3rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6rem;
        transition: all .3s;
    }

    .service i:first-child {
        color: orangered;
        font-size: 2rem;
    }

    .service:hover {
        background-color: orangered;
        color: white;
        cursor: pointer;
    }
    .service:hover i:first-child {
        color: white
    }

    .h-line {
        position: relative;
    }
    .h-line::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 2px;
        height: 5rem;
        background-color: orangered;
    }

    .about {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
        row-gap: 1rem;
    }

    .image1 {
        grid-row: 1/3;
        grid-column: 1/3;
    }
    .image {
        position: relative;
        height: 100%;
        cursor: pointer;
    }

    .image img {
        filter: grayscale(80%);
    }

    .image::before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .3);
        z-index: 1; 
    }

    .image-text {
        position: absolute;
        left: 1rem;
        bottom: 1rem;
        color: white;
        z-index: 11;
    }

    .image:hover img {
        filter: grayscale(0);
    }

    .about-text {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        row-gap: 4rem;
        column-gap: 2rem;
        margin-top: 2rem;
    }

    .about-text > * {
        padding: 0 1rem;
    }
    .about-text h3 {
        padding-bottom: 1rem;
    }

    .about-text p {
        color: #777;
    }

    .blog {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        row-gap: 4rem;
        column-gap: 2rem;
        margin-top: 2rem;
    }
    #blog .heading {
        text-align: center;
    }

    .blog-item {
        text-align: center;
        position: relative;
        padding: 0 1rem;
        overflow: hidden;
    } 

    .blog i {
        font-size: 1.4rem;
        padding-top: 1.5rem;      
    } 

    .blog .blog-text {
        position: absolute;
        bottom: 1rem;
        color: white;
        z-index: 11;
        transform: translateY(2.5rem);
        transition: all .3s;
    }

    .blog-item:hover .blog-text {
        transform: translateY(0);
    }

    .blog-item img {
        width: 100%;
        transform: scale(1);
        transition: all 0.3s;
    }

    .blog-item:hover img {
        transform: scale(1.1) rotate(3deg);
    }

    #contact {
        background-color: darkgrey;
        padding: 10rem 0;
    }

    .contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contact i {
        color: white;
        font-size: 2.5rem;
        border: 2px solid orangered;
        padding: 1rem;
        width: 5rem;
        height: 5rem;
        text-align: center;
        border-radius: 50%;
        margin: 2px;
        cursor: pointer;
        transition: all 0.3s;
    }

    .contact i:hover {
        transform: translateY(-1rem);
    }

    .contact h2 {
        font-size: 5rem;
        font-weight: 700;
        color: white;
    }

    footer {
        background-color: black;
        color: white;
        padding: 3rem 0;
        text-align: center;
    }

    .modal {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, .9);
        z-index: 111;
    }

    .modal-content {
        width: 80%;
        max-width: 60rem;
        margin: 20% auto;
        padding: 2rem;
        position: relative;
        text-align: center;
        animation: slide ease 0.8s;
    }

    @keyframes slide {
        0% {
            transform: translateY(-30rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    .close-modal {
        position: absolute;
        top: 2rem;
        right: 3rem;
        color: white;
        font-size: 5rem;
        cursor: pointer;
    }

    form input {
        width: 100%;
        border: none;
        border-bottom: 2px solid white;
        outline: none;
        padding: 1rem;
        color: white;
        font-size: 1.6rem;
        position: relative;
        background-color: transparent;
    }

    ::placeholder {
        color: white;
        font-size: 1.8rem;
    }

    form i {
        position: absolute;
        right: 2rem;
        bottom: 3rem;
    }