@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 70px;
    background-color: themed("bg");
    border-bottom: 1px solid themed("border");;
    color: themed("textColor");
    position: sticky;
    top: 0;
    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      span {
        font-size: 20px;
        font-weight: bold;
        color: themed("logo");
      }

      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");;
        border-radius: 20px;
        padding: 8px;

        input {
          border: none;
          outline: none;
          background-color: transparent;
          color: themed("textColor");
        }
      }
    }

    .center {
      display: flex;
      align-items: center;
      gap: 30px;
    }
    .right {
      display: flex;
      align-items: center;
      gap: 30px;

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
